
@{
    ViewBag.Title = "AllCarList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Cars</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-10 col-lg-10 col-xl-10 offset-md-1">

            <div class="card">
                <div class="card-body">
                    <div class="doctor-widget">
                        <div class="doc-info-left">
                            <div class="doctor-img">
                                <a href="#">
                                    <img src="~/assets/img/Cars/toyota.png" class="img-fluid" alt="User Image">
                                </a>
                            </div>
                            <div class="doc-info-cont">
                                <h4 class="doc-name"><a href="#">Toyota</a></h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Comfort</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star "></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(12)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Safety</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star "></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(12)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Reliability</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star "></i>
                                            <span class="d-inline-block average-rating">(12)</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="doc-info-right">
                            <div class="clinic-booking">
                                <a class="view-pro-btn" href="@Url.Action("Details","Cars")">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="doctor-widget">
                        <div class="doc-info-left">
                            <div class="doctor-img">
                                <a href="#">
                                    <img src="~/assets/img/Cars/bmw.png" class="img-fluid" alt="User Image">
                                </a>
                            </div>
                            <div class="doc-info-cont">
                                <h4 class="doc-name"><a href="#">BMW XS</a></h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Comfort</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(17)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Safety</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(17)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Reliability</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(17)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doc-info-right">
                            <div class="clinic-booking">
                                <a class="view-pro-btn" href="@Url.Action("Details","Cars")">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <div class="doctor-widget">
                        <div class="doc-info-left">
                            <div class="doctor-img">
                                <a href="#">
                                    <img src="~/assets/img/Cars/honda.png" class="img-fluid" alt="User Image">
                                </a>
                            </div>
                            <div class="doc-info-cont">
                                <h4 class="doc-name"><a href="#">Honda</a></h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Comfort</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(13)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Safety</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(13)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Reliability</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <span class="d-inline-block average-rating">(13)</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="doc-info-right">
                            <div class="clinic-booking">
                                <a class="view-pro-btn" href="@Url.Action("Details","Cars")">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="doctor-widget">
                        <div class="doc-info-left">
                            <div class="doctor-img">
                                <a href="#">
                                    <img src="~/assets/img/Cars/sports.png" class="img-fluid" alt="User Image">
                                </a>
                            </div>
                            <div class="doc-info-cont">
                                <h4 class="doc-name"><a href="#">Sports</a></h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Comfort</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(15)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Safety</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(15)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="doc-department">Reliability</h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(15)</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="doc-info-right">
                            <div class="clinic-booking">
                                <a class="view-pro-btn" href="@Url.Action("Details","Cars")">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load-more text-center">
                <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
            </div>
        </div>
    </div>

</div>

