@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CLayout.cshtml";
}

<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">               
                    <h2 class="breadcrumb-title">Users List</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0" id="ScrapperList">
                            <thead>
                                <tr>
                                    <th> Name</th>
                                    <th>Type</th>
                                    <th>Email</th>
                                    <th>Account Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/assets/img/User/patient.jpg" alt="User Image"></a>
                                            <a href="profile.html">Ruby Perrin</a>
                                        </h2>
                                    </td>
                                    <td>Admin</td>
                                    <td>admin@gmial.com</td>
                                    <td>
                                        <div class="status-toggle">
                                            <input type="checkbox" id="status_1" class="check" checked>
                                            <label for="status_1" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-3.5.1.js"></script>
<script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables/datatables.min.js"></script>
<script>

    $(document).ready(function () {
        $('#ScrapperList').DataTable({
            searching: true,
            "ordering": false
        });
    });
</script>